/* ESTILO FOOTER*/

footer {
	width: 100%;
	height: 150px;
	font-family: 'Poppins', sans-serif;
	background: #b3afaf;
	display: flex;
	font-size: small;
	color: black;
}

.main-content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-left: 80px;
	width: 85%;
	height: 25vh;
}

.footer_nosotros {
	width: 33%;
	padding-bottom: 20px;
}

.footer_nosotros h2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.footer_nosotros p {
	font-size: 1.2em;
}

.content {
	font-size: 1em;
}

footer h2{
	font-size: 2em;
}

.footer_direccion {
	width: 33%;
}

.footer_social {
	width: 33%;
	display: flex;
	flex-direction: column;
	color: black;
}

.footer_social a {
	font-size: medium;
}

.footer_social h2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.footer_direccion h2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.footer_direccion span {
	font-size: medium;
}

.footer-redes a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: #000;
	background: white;
}

@media screen and (max-width: 768px){
	.main-content{
		display: flex;
		flex-direction: column;
		margin: auto;
		height: 25vh;
		} 
} 

@media screen and 