.sectionHeader {
	display: flex;
	width: 8 /*  */ 0%%;
	height: 50px;
	justify-content: center;
	/* border: #333 solid 1px; */
	align-self: center;
	align-items: center;
	margin-bottom: 10px;
}

.sectionTitle {
	/* border: #333 2px solid */
	font-size: 22px;
	font-weight: 600;
	flex: 1;
}

.sectionVerMas {
	/* border: #333 2px solid; */
	flex: 1;
	text-align: right;
	font-size: 15px;
	font-weight: 600;
}

.sectionVerMas a {
	color: #6c7ae0;
}

.sectionVerMas a:hover {
	color: #6c7ae0;
}

.tilesSlider {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.tilesSlider a:hover {
	opacity: 70%;
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	-ms-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

.tilesSliderArrow {
	align-self: center;
}

.categoryTile {
	flex-basis: 14%;
	background-size: cover;
	background-position-x: center;
	position: relative;
	height: 330px;
}

.categoryTileTitle {
	font-size: 28px;
	font-family: Poppins;
	left: 5%;
	bottom: 5%;
	position: absolute;
	background-color: ;
}

.catGaming {
	background-image: url('/images/categoriesTiles/cat_games1.jpg');
	color: white;
}

.catMate {
	background-image: url('/images/categoriesTiles/cat_mate1.jpg');
	color: white;
}

.catBeer {
	background-image: url('/images/categoriesTiles/cat_beer1.jpg');

	color: white;
}

.catMusic {
	background-image: url('/images/categoriesTiles/cat_music1.jpg');
	color: white;
}

.catBajon {
	background-image: url('/images/categoriesTiles/cat_gourmet1.jpg');
	color: white;
}

.catSports {
	background-image: url('/images/categoriesTiles/cat_sports1.jpg');
	color: white;
}

#homeCategorias {
	padding-bottom: 20px;
}

/* LOS MAS ELEGIDOS */

.prodImage {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.elegidoTileVino {
	background-image: url('/images/categoriesTiles/cajavino2.jpg');
}

.elegidoTileBeer {
	background-image: url('/images/categoriesTiles/beer1.webp');
}

/* **********  M O B I L E  *********** */

@media (min-width: 426px) {
}

@media (max-width: 425px) {
}
