/* ESTILO LOGIN*/

.icono_go_back {
	color: #e8623f;
	margin: 60px;
}

.loginOUT {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.mainform {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.formSeccion {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: inline-block;
	width: 350px;
	height: 400px;
	margin-left: 60px;
}

.fotoLoginRegister {
	padding-left: 20px;
}

.formTitle {
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 48px;
	display: inline-block;
	color: #e8623f;
}

.formsArticle {
	padding-top: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	justify-content: space-between;
}

.formLoginPadding {
	padding-top: 7px;
	padding-bottom: 7pxpx;
}

.formRegisterPadding {
	padding-top: 5px;
	padding-bottom: 5px;
}

label {
	display: inline-block;
	width: 80px;
}

#formButton {
	padding: 0 16px;
	border-radius: 2px;
	background-color: #6c7ae0;
	color: #fff;
	height: 36px;
	line-height: 2.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	width: 110px;
	margin-left: 50%;
	margin-top: 10px;
	transform: translateX(-50%);
}

.forgotPassword {
	font-family: 'Poppins', sans-serif;
	color: #e8623f;
	display: inline-block;
}

/* ESTILO REGISTER*/

.fotoRegisterContainer {
	padding-left: 20px;
}

.registerYaTenesCuenta {
	font-family: 'Poppins', sans-serif;
	font-size: medium;
	box-sizing: border-box;
	padding-left: 10px;
}

#registerStartSection {
	color: #f04636;
}



