.prodDetailMain {
	margin-bottom: 100px;
	/* border: 2px green solid; */
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.prodDetailLeft {
	/* border: 2px solid blue; */
	width: 40%;
	/* box-sizing: boder-box; */
	/* padding: 2%; */
	/* display: flex; */

	/* justify-content: space-around; */
}

.prodDetailRight {
	/* border: 2px solid red; */
	width: 50%;
	box-sizing: boder-box;
	/* padding: 2%; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 25px;
}

.prodDetailRight .buttons {
	display: flex;
	width: 100%;
}

.prodDetailRightButtons {
	width: 20%;
	background-color: #6c7ae0;
	color: #fff;
	height: 36px;
	line-height: 2.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 10px;
}

#prodEditButton {
	width: 100%;
	background-color: orange;
}

#prodDeleteButton {
	width: 100%;
	margin-left: 10px;
	background-color: red;
}

.prodDetailFormsCointainer {
	/* background-color: #6c7ae0; */
	display: flex;
	margin-top: 15px;
}

.prodDetailImgContainer img {
	max-width: 350px;
}

.prodDetailTitle {
	font-size: 30px;
	font-weight: bold;
}

.prodDetailPrice {
	font-size: 40px;
}

.carouselImg {
	max-height: 300px;
}

@media (max-width: 425px) {
	.prodDetailMain {
		flex-direction: column;
	}
}
