.prodDetailMain {
	margin-bottom: 100px;
	/* border: 2px green solid; */
	display: flex;
	justify-content: space-between;
	margin-top: 130px;
}

.prodDetailLeft {
	/* border: 2px solid blue; */
	width: 50%;
	box-sizing: boder-box;
	/* padding: 2%; */
	display: flex;

	justify-content: space-around;
}

.prodDetailRight {
	/* border: 2px solid red; */
	width: 50%;
	box-sizing: boder-box;
	/* padding: 2%; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.prodDetailImgContainer img {
	max-width: 350px;
}

.prodDetailTitle {
	font-size: 30px;
	font-weight: bold;
}

.prodDetailPrice {
	font-size: 40px;
}
