
.contenedor-general {
	
display: flex;
flex-direction: row;
}

.imagen_del_producto {
	margin-top: 50px;
	margin-left: 300px;
	width: 400px;
	margin-bottom: 50px;
}

.texto_descripcion {
	font-family: 'Poppins', sans-serif;
	box-sizing: content-box;
	padding: 40px;
	width: 500px;
	height: 100px;
	line-height: 80px;
}

.botones_productDetail {
	margin-bottom: 100px;
}