* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #ffffff;
}

/* HEADER STYLES were moved to pubic/css/headerStyles.css*/

main {
	position: relative;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
}

/* ******STYLES HOMEPAGE were moved to public/css/indexStyles.css***** */

/* ******STYLES HOMEPAGE were moved to public/css/loginStyles.css***** */

/* ******STYLES HOMEPAGE were moved to public/css/registerStyles.css***** */

/* ------- ESTILO PROFILE  -------*/

.profileTitle {
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 48px;
	display: inline-block;
	color: #e8623f;
}

.profileSubTitle {
	color: #6c7ae0;
}
.profileUserData {
	font-size: 20px;
	font-weight: 700;
	line-height: 48px;
	display: inline-block;
	color: #e8623f;
}

.profileSeccion {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: inline-block;
	width: 100%;
	height: 400px;
	margin-left: 60px;
}

.profile-edit-button {
	padding: 0 16px;
	border-radius: 2px;
	background-color: #6c7ae0;
	color: #fff;
	height: 40px;
	font-size: 0.875rem;
	font-weight: 500;
	width: 110px;
	margin-left: 30%;
	margin-top: 10px;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
