<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="./css/styles.css" /> -->
		<link rel="stylesheet" href="css/headerStyles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet"
		/>
		<title>Document</title>
	</head>
	<body>
		<header>
			<div class="left_header">
				<!-- LOGO -->
				<div class="logo">
					<a href="#"><img src="images/logo.png" alt="" /></a>
				</div>

				<!-- REGALOS CON OPCIONES, COMO REGALAR, NAV -->

				<div><a href="#">Regalos con opciones</a></div>
				<div><a href="#">Como regalar</a></div>

				<!-- SEARCH -->
				<div class="search_bar">
					<form action="">
						<input type="text" placeholder="Buscar..." required />

						<a class="search_btn" href="#"><i class="fas fa-search"></i></a>
					</form>
				</div>
			</div>

			<div class="right_header">
				<div><a href="#">Ingresá</a></div>
				<div><a href="#">Registrate</a></div>
				<div class="carrito">
					<a href="#"><i class="fas fa-shopping-cart"></i></a>
				</div>
			</div>
		</header>

		<main>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni provident
				qui, quos quasi ab officia assumenda aspernatur maiores ipsam cupiditate
				numquam, quam eius voluptate pariatur labore sequi iure minima minus
				molestias maxime velit dolore reiciendis, omnis veniam? Tenetur,
				cupiditate, eveniet quas possimus praesentium voluptates iusto accusamus
				sint aperiam nostrum, sed ratione facere nam ipsum beatae. Ratione,
				veritatis autem provident nisi officia dignissimos optio maxime
				exercitationem tempore fugiat minus. Fuga expedita reprehenderit ea
				obcaecati, corporis deserunt delectus tenetur adipisci. Officia ducimus
				illo adipisci pariatur! Autem, vero repellat minima unde cumque
				obcaecati quae rerum aliquam, nisi voluptatibus praesentium fugiat
				deserunt quibusdam pariatur.
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
				suscipit error adipisci, ut rerum mollitia ex veritatis, commodi eos
				neque magni. In amet aliquam adipisci necessitatibus pariatur,
				dignissimos quae cumque mollitia numquam nam. Autem modi eaque excepturi
				voluptatum fugiat. Ipsa dolores illo cumque quos ad inventore
				perspiciatis expedita placeat quaerat blanditiis similique aut minus
				quam iure nemo, ut qui maiores sequi unde harum deleniti impedit! Illo
				earum dicta cum recusandae deserunt perferendis reprehenderit neque,
				dolor itaque rem repellendus sunt quisquam, iste doloribus aliquid,
				quaerat veniam. Quasi labore fugiat quibusdam dignissimos neque sed
				nihil corrupti eaque, officia vitae dolores incidunt quos maxime
				voluptas odio dolor pariatur natus eveniet eligendi. Consectetur sunt
				repellendus tempore totam possimus? Officia ullam nulla quae beatae
				mollitia incidunt quidem harum, eaque vero sint ratione voluptates atque
				ex unde! Voluptatum, rerum? Veritatis, et modi at quisquam eos vero
				quibusdam. Sed culpa corporis, alias, atque architecto beatae omnis
				doloremque asperiores inventore nulla voluptate fugit velit illum
				eligendi expedita rerum error provident. Dolorem, labore quaerat beatae
				perferendis necessitatibus unde provident nulla? Ullam placeat,
				reprehenderit consectetur itaque sit aut possimus expedita, fugit
				accusantium assumenda aliquid omnis libero harum iste ipsum rem nihil
				debitis aliquam optio ea. Non, itaque quibusdam cum impedit praesentium
				est inventore eveniet, id numquam porro assumenda a ea delectus
				architecto tenetur ratione alias velit illum aperiam sed iste. Eius
				sequi corrupti molestias libero sapiente rem quos amet, animi, maiores
				aspernatur similique repellendus pariatur optio eos illum repellat
				deleniti. Nesciunt pariatur ratione aperiam harum, repellendus iure
				laborum ea tempora laboriosam exercitationem voluptate corrupti odio
				modi mollitia officiis deleniti, repudiandae possimus alias sequi eos
				incidunt? Dolorem excepturi, repudiandae dolorum saepe eaque qui dolores
				recusandae repellendus? Quo quod recusandae suscipit esse veritatis
				beatae vero possimus temporibus unde non delectus deserunt animi vel,
				veniam amet repellendus quia quibusdam officia! Amet ipsam iusto in odio
				eligendi nulla, placeat quasi, quisquam minima error ea optio illo.
				Excepturi sequi aliquam impedit totam repellat veniam quidem, molestiae
				accusamus corporis quibusdam praesentium modi esse natus quisquam cumque
				corrupti dignissimos ducimus facilis error nam tempore fugit, voluptas
				nesciunt. Adipisci eaque vitae ratione architecto iusto? Magnam id
				molestiae sunt provident fugiat architecto voluptatibus eligendi,
				officiis distinctio repellendus a ratione corrupti repudiandae tenetur
				deserunt voluptas sit. Rem aliquam dicta voluptatem hic animi numquam
				inventore, ad aliquid consectetur tenetur nobis ullam eum facere in odit
				cum provident illum sint eos recusandae. Quas iure perferendis nam
				incidunt assumenda, accusamus voluptatem natus maxime placeat molestias
				sed. Iste ipsa numquam ut eos quibusdam maxime, facilis voluptatibus
				explicabo, maiores, asperiores distinctio alias accusantium velit
				expedita minima rem eius rerum? Aut, laboriosam ab voluptatum quas
				architecto magni consequuntur assumenda repudiandae neque aliquam eaque
				perferendis ea corrupti eius nemo sequi cum eligendi temporibus culpa.
				Quo, expedita eius ut fugiat velit repudiandae, dolor aspernatur
				voluptatum, aut nulla amet corrupti et consequuntur minus reiciendis!
				Asperiores a voluptate veritatis repudiandae sint, totam voluptas neque
				libero consequuntur nostrum! Harum itaque possimus sit vel eum!
				Deserunt, voluptates quod voluptatum placeat minus quos quibusdam culpa
				consequuntur perferendis laborum asperiores omnis voluptas veniam nihil.
				Laudantium, ex eius illo, suscipit officiis, voluptate eligendi ea
				temporibus debitis cum optio. Aperiam reiciendis cupiditate, minus saepe
				nam expedita ducimus quo eveniet autem ipsum delectus accusantium! Amet,
				illo molestias porro necessitatibus id officiis possimus fuga aut
				corrupti culpa, eligendi, vel laboriosam numquam aperiam commodi tempora
				dolorum officia? Inventore autem, obcaecati veniam minus vitae officia,
				tempore ipsam nostrum sunt quas dolores hic nam soluta eum quo fugiat.
				Quisquam asperiores sapiente deleniti non pariatur sunt iusto
				praesentium voluptas necessitatibus facere perspiciatis cumque cum
				distinctio, aperiam quam accusantium, odio error optio sed saepe ipsam
				ratione vitae itaque est! Maiores culpa asperiores saepe laboriosam quos
				optio voluptas cupiditate? Eos expedita libero, molestiae, omnis esse,
				natus nam ex reprehenderit tempore quis fuga est in quasi! Esse
				obcaecati voluptates nisi fugit? Nam unde necessitatibus, fugit adipisci
				porro quo sit dolor ea minima. Dolore provident quaerat neque?
				Repudiandae reprehenderit libero, quo recusandae neque sit sint nam
				dolores ipsa, accusantium necessitatibus. Officia, similique commodi?
				Nulla at, soluta sequi asperiores illo quisquam optio beatae quos a
				doloremque, modi nihil harum. Voluptatum quod labore impedit delectus
				architecto provident ex in? Facere necessitatibus voluptate deserunt
				nobis doloremque obcaecati, at assumenda veritatis! Doloribus quaerat
				velit voluptates natus, culpa nihil expedita non aperiam ratione beatae
				ducimus ad reiciendis, officia cum quae facere sapiente quasi
				exercitationem! Ut illum aperiam cum. Necessitatibus aspernatur quisquam
				dolorem tenetur eveniet ex temporibus accusantium eligendi nisi
				consectetur aperiam ullam, consequuntur architecto nostrum numquam
				laudantium delectus. Maiores alias atque quam doloremque doloribus nemo,
				dicta aliquam iusto consectetur dolorum eius magnam voluptatibus impedit
				aperiam soluta! Est, dignissimos sapiente qui ea laudantium dicta quod
				ipsum doloremque non. Cupiditate repellat doloribus ea expedita! Sit
				ipsam dolores veritatis rem minima? Provident, enim? Recusandae
				distinctio architecto hic expedita tempore maiores ut dolorum eum.
				Molestias sequi qui, quaerat error nostrum quasi nemo soluta fugiat
				eaque animi non iure magni ab obcaecati neque, repudiandae placeat nam
				reprehenderit sunt rerum in molestiae ullam repellat numquam. Ab,
				suscipit commodi? Perferendis sed vero reprehenderit at fugiat aperiam
				exercitationem, dignissimos numquam ratione magni minima autem? Velit,
				nesciunt. Ullam id laboriosam ea corporis odit. Adipisci, modi
				cupiditate enim quas, vel ullam eos commodi sit magnam nam aut tempore
				nemo ipsa, soluta sapiente pariatur rem dicta quos. Amet corrupti
				deserunt molestias laborum! Ratione vero exercitationem molestias
				molestiae, fuga labore maiores repellendus officiis totam porro eius
				provident nostrum fugit fugiat ut quo, obcaecati quidem excepturi iure
				corporis. Illo fugit numquam ex totam aliquam quam! Quo, quam dolores?
				Dolorem, neque soluta. Quisquam debitis, tempora nesciunt repellendus
				reprehenderit commodi praesentium, sequi, beatae harum dolore aliquam
				exercitationem molestiae perspiciatis ea rerum consectetur eum! Saepe
				delectus eum doloremque fugit tenetur alias exercitationem consequuntur
				quod eos odit, iusto quo. Ut pariatur nesciunt accusamus sunt porro
				eligendi quo distinctio? Corporis, voluptatibus maiores voluptate maxime
				nostrum saepe eum sunt suscipit quisquam nisi consectetur enim harum
				quae eveniet aliquam dolore itaque voluptas unde recusandae possimus
				eligendi ad iste aut. Optio repudiandae quibusdam excepturi aspernatur
				culpa obcaecati fuga rem repellendus quo veritatis, non alias maxime
				harum minima nisi ea aperiam asperiores quam.
			</p>
		</main>
	</body>
</html>
