<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
			rel="stylesheet"
		/>

		<title>Home</title>
	</head>
	<body>
		<header>
			<div class="left_header">
				<!-- LOGO -->
				<div class="logo">
					<a href="#">
						<img src="images/logo.png" alt="" />
					</a>
				</div>

				<!-- REGALOS CON OPCIONES, COMO REGALAR, NAV -->

				<div><a href="#">Regalos con opciones</a></div>
				<div><a href="#">Como regalar</a></div>

				<!-- SEARCH -->
				<div class="search_bar">
					<form action="">
						<input type="text" placeholder="Buscar..." required />
						<button><i class="fas fa-search search_icon"></i></button>
					</form>
				</div>
			</div>

			<div class="right_header">
				<div><a href="#">Ingresá</a></div>
				<div><a href="#">Registrate</a></div>
				<div class="carrito">
					<a href="#"><i class="fas fa-shopping-cart"></i></a>
				</div>
			</div>
		</header>

		<main>
			<section class="categorias" id="homeCategorias">
				<div class="sectionHeader">
					<div class="sectionTitle">Categorías.</div>
					<div class="sectionVerMas"><a href="#">Ver más</a></div>
				</div>

				<div class="tilesSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<div class="categoryTile catGaming">
						<div class="categoryTileTitle">Gaming</div>
					</div>

					<div class="categoryTile catMate">
						<div class="categoryTileTitle">Mate</div>
					</div>

					<div class="categoryTile catBeer">
						<div class="categoryTileTitle">Birra</div>
					</div>
					<div class="categoryTile catMusic">
						<div class="categoryTileTitle">Musica</div>
					</div>
					<div class="categoryTile catBajon">
						<div class="categoryTileTitle">Bajon</div>
					</div>
					<div class="categoryTile catSports">
						<div class="categoryTileTitle">Deportes</div>
					</div>
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
