<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/styles.css" />
		
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
			rel="stylesheet"
		/>

		<title>Home</title>
	</head>
	<body>
		<header>
			<div class="left_header">
				<!-- LOGO -->
				<div class="logo">
					<a href="#">
						<img src="images/logo.png" alt="" />
					</a>
				</div>

				<!-- REGALOS CON OPCIONES, COMO REGALAR, NAV -->

				<div><a href="#">Regalos con opciones</a></div>
				<div><a href="#">Como regalar</a></div>

				<!-- SEARCH -->
				<div class="search_bar">
					<form action="">
						<input type="text" placeholder="Buscar..." required />
						<button><i class="fas fa-search search_icon"></i></button>
					</form>
				</div>
			</div>

			<div class="right_header">
				<div><a href="#">Ingresá</a></div>
				<div><a href="#">Registrate</a></div>
				<div class="carrito">
					<a href="#"><i class="fas fa-shopping-cart"></i></a>
				</div>
			</div>
		</header>

		<main>
			<section class="categorias" id="homeCategorias">
				<div class="sectionHeader">
					<div class="sectionTitle">Categorías.</div>
					<div class="sectionVerMas"><a href="#">Ver más</a></div>
				</div>

				<div class="tilesSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<div class="categoryTile catGaming">
						<div class="categoryTileTitle">Gaming</div>
					</div>

					<div class="categoryTile catMate">
						<div class="categoryTileTitle">Mate</div>
					</div>

					<div class="categoryTile catBeer">
						<div class="categoryTileTitle">Birra</div>
					</div>
					<div class="categoryTile catMusic">
						<div class="categoryTileTitle">Musica</div>
					</div>
					<div class="categoryTile catBajon">
						<div class="categoryTileTitle">Bajon</div>
					</div>
					<div class="categoryTile catSports">
						<div class="categoryTileTitle">Deportes</div>
					</div>
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>

			<!-- ********************ELEGIDOS********************** -->
			<section class="homeElegidos" id="homeElegidos">
				<div class="sectionHeader">
					<div class="sectionTitle">Los más elegidos.</div>
					<div class="sectionVerMas"><a href="#">Ver todos los boxes</a></div>
				</div>

				<div class="elegidosSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileVino">
							<div class="elegidoTileTitle">Vino Malbec</div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Box de vino malbec + 2 copas finas de vidrio
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileBeer">
							<div class="elegidoTileTitle">Patagonia</div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Box de degustacion de cerveza Patagonia
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>

						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>

						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>
					<!-- ELEGIDO 2 -->
					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>
					<!-- ELEGIDO 3 -->
					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>

						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>

			<section class="bottomTilesSection" id="bottomTilesSection">
				<div class="bottomTile" id="mediosPago">
					<div>
						<i class="far fa-credit-card"></i>
					</div>
					<div>Ver medios de pago</div>
					<div>
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>

				<div class="bottomTile" id="ayuda">
					<div>Necesitás ayuda? Escribinos</div>
					<div>
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>
		</main>

		<footer>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab voluptatibus
			aliquam qui vero minus dolores, obcaecati provident quibusdam, sint veniam
			suscipit vitae labore iusto eum accusantium quia eius fuga itaque,
			consequuntur vel quasi illo cum recusandae alias! Explicabo praesentium
			accusantium corporis laborum sunt blanditiis facilis at officiis iure
			rerum, alias perspiciatis culpa neque ullam dolorum nisi minus! Enim
			quaerat aperiam sequi neque eum? Corrupti, aliquid delectus ad eaque amet
			temporibus impedit perferendis accusamus quis culpa facere ducimus dolores
			officiis cupiditate enim, voluptatem distinctio molestiae iusto esse.
			Earum nemo sit labore quos quaerat odit voluptatem odio alias voluptates,
			illo accusantium delectus quasi mollitia, maxime necessitatibus, quia amet
			dolore reiciendis quae voluptas magnam quisquam velit. Numquam ad dolore,
			similique incidunt quia aspernatur sed, ullam quasi nulla iusto
			exercitationem vitae quaerat labore voluptatibus id facilis porro ex
			maxime delectus tenetur unde. Inventore ea dolorem suscipit. Amet ipsa
			soluta, ad ex corporis dolorem voluptas molestias vero accusantium tempora
			veritatis quis. Omnis cupiditate hic beatae perspiciatis tempora
			laboriosam provident illum dolorum officiis nemo impedit voluptatibus,
			necessitatibus blanditiis culpa in temporibus molestiae dolorem fugit
			repellendus, soluta reprehenderit ab? Enim perferendis, reiciendis
			repudiandae iusto eos nostrum eaque suscipit. Aliquid illum autem deleniti
			iure quos velit adipisci non!
		</footer>
	</body>
</html>
