<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/productDetail.css" />
    <title>Document</title>
</head>

<body>!
    <header>
        <div class="left_header">
            <!-- LOGO -->
            <div class="logo"><a href="#"><img src="../public/images/logo.png" alt="" /></div></a>

            <!-- REGALOS CON OPCIONES, COMO REGALAR, NAV -->

            <div><a href="#">Regalos con opciones</a></div>
            <div><a href="#">Como regalar</a></div>

            <!-- SEARCH -->
            <div class="search_bar">
                <form action="">
                    <input type="text" placeholder="Buscar..." required />
                    <button><i class="fas fa-search search_icon"></i></button>
                </form>
            </div>
        </div>

        <div class="right_header">
            <div><a href="#">Ingresá</a></div>
            <div><a href="#">Registrate</a></div>
            <div class="carrito">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <!--    CARRITO -->

        <!-- LOGIN/REGISTER -->
    </header>

    <main>
        <section>

            <div><img class="imagen_del_producto" src="../public/images/Box Bartender primeros pasos 1.jpg" alt="">
            </div>

            <div>
                <p class="texto_descripcion">
                    <strong>descripcion: </strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam fugiat nemo aut
                    nulla minus similique
                    cumque impedit animi! Adipisci, veniam. Necessitatibus possimus asperiores dolor fugit mollitia
                    molestias in, accusantium iste veniam. Necessitatibus possimus asperiores dolor fugit mollitia
                </p>
            </div>

            <button class="botones_productDetail" id="registro_button" type=“submit”>Enviar al carrito</button>
            </div>

            <button class="botones_productDetail" id="registro_button" type=“submit”>Medios de pago</button>
            </div>

            </div>

        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-main">
                <div class="footer-columna">
                    <h3>Dirección</h3>
                    <span class="fa fa-map-marker">
                        <p>Av de los Incas 3531</p>
                    </span>
                    <span class="fa fa-phone">
                        <p>info@simplegift.com</p>
                    </span>
                    <span class="fa fa-envelope">
                        <p>011-15-4444-3333</p>
                    </span>

                </div>
                <div class="footer-columna">
                    <h3>Sobre Nosotros</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At qui aliquid eligendi corporis quos?
                        Explicabo, incidunt. Possimus inventore iusto maiores expedita neque similique magnam optio.
                        Unde, dignissimos soluta eligendi molestiae neque ratione dolore debitis incidunt distinctio
                        obcaecati fugit perferendis vero.</p>
                </div>
            </div>
            <div class="footer-copy-redes">
                <div class="main-copy-redes">
                    <div class="footer-copy">
                        &copy; Todos los derechos reservados - Simple Gift S.A.
                    </div>
                    <div class="footer-redes">
                        <a href="#" class="fab fa-facebook"></a>
                        <a href="#" class="fab fa-twitter-square"> </a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <h3></h3>
            </div>

        </div>
    </footer>

</body>

</html>