
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="./css/styles.css" />
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
            />
            <link
                href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
                rel="stylesheet"
            />
            <title>Registro</title>
        </head>
    <body>
        <div class="register_cuerpo">  
        <h1 class="register_titulo">¡Registrate!</h1>
        <article class="register_form"> 
        <form action=“validar.php” method=“POST”></form>
        <p>
            <label for=“nombre”>Nombre:</label>
    <input type=“text” name=“nombre” id=“nombre”>
    </p>
    <p>
        <label for=“apellido”>Apellido:</label>
    <input type=“text” name=“apellido” id=“apellido”>
    </p>
        <p>
            <label for=“email”>Email:</label>
    <input type=“email” name=“email” id=“email”>
    </p>
    <p>
            <input type=“submit” value=“Enviar”>
    </p>
    </article> 
    </div>
    </body>
    </html>
    
    
        
    </form>
    </html>