* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	background-color: papayawhip;
}

/* HEADER STYLES */

header {
	position: fixed;
	display: flex;
	background-color: teal;
	justify-content: space-around;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #ffffff;
	/* border-bottom: grey solid 1px; */
	box-shadow: 0px 2px #cccccc;
}

.left_header {
	display: flex;
	/* background-color: blue; */
	align-items: center;
	flex: 3;
	justify-content: space-around;
	padding-left: 5%;
	padding-right: 30%;
}

.right_header {
	display: flex;
	/* background-color: red; */
	align-items: center;
	flex: 1;
	justify-content: flex-end;
	justify-content: space-around;
	padding-right: 5%;
}

header div a {
	color: #333;
	transition: ease-out 0.3s;
}

header div a:hover {
	color: #6c7ae0;
}

.logo {
}

.search_bar {
	flex-basis: 18%;
	position: relative;
}

.search_bar form {
	display: flex;
}

.login_register {
	align-items: center;
}

.login_register ul {
	display: flex;
}

.regalos_opciones {
	/* background: red; */
	flex-basis: 18%;
}

.search_bar form input {
	height: 25px;
}

.search_bar form input::placeholder {
	color: rgb(129, 129, 129);
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	margin-left: 5px;
}

.ingresa {
	/* 	background: chocolate; */
}

.registrate {
	/* background: cornflowerblue; */
}

.carrito {
	/* background-color: pink; */
}

.logo img {
	width: 60px;
}

p {
	margin: 10px;
}

/* ESTILO REGISTER*/

.register_cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: space-between
	}
	
.register_titulo{
	font-family: 'Poppins', sans-serif;
	width: 60%;
	height: 45px;
	padding-top: 100px;
	padding-left: 100px;
	font-size: 35px;
    font-weight: 700;
	line-height: 48px;
	color:#E8623F;
	}

.register_form {
	width: 50%;
	padding: 25px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 5px;
	font-family: 'Poppins', sans-serif;
	padding-left: 100px;
  }

  label{
	display: inline-block;
	width: 80px;
  }

  .register_ya_tenes_cuenta{
	font-family: 'Poppins', sans-serif;
	font-size: medium;
	box-sizing: border-box;
	padding-left: 10px;
  }

  #register_inicia_seccion{
	  color: #f04636;
  }


#registro_button{
		padding: 0 16px;
		border-radius: 2px;
		background-color: cornflowerblue;
		color: #fff;
		height: 36px;
		line-height: 2.25rem;
		font-size: 0.875rem;
		font-weight: 500;
		letter-spacing: 0.06em;
		}

/* ESTILO LOGIN*/

  .login_cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: space-between
	}


  .login_titulo{
	font-family: 'Poppins', sans-serif;
	width: 60%;
	height: 45px;
	margin-top: 45px;
	padding-top: 100px;
	padding-left: 100px;
	font-size: 35px;
    font-weight: 700;
	line-height: 48px;
	color:#E8623F;
	}

 	.login_form {
		width: 50%;
		padding: 25px;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 5px;
		font-family: 'Poppins', sans-serif;
		padding-left: 100px;
	  }

	  .olvidar_password{
		font-family: 'Poppins', sans-serif;
		color:#E8623F;
		display: inline-block;
		padding-left: 85px;
		 }

	#login_button{
		padding: 0 16px;
		border-radius: 2px;
		background-color: cornflowerblue;
	
		color: #fff;
		height: 36px;
		line-height: 2.25rem;
		font-size: 0.875rem;
		font-weight: 500;
		letter-spacing: 0.06em;
		}
	  
	  
/* ESTILO FOOTER*/

.info-container{
	width: 100%;
	background: #f2f2f2;;
}

footer{
	width: 100%;
	font-family: 'Poppins', sans-serif;
}
.footer-container{
	width: 100%;
	background: #272727;
	color: #fff;
}

.footer-main{
	width: 98%;
	max-width: 1000px;
	margin:auto; 
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	}

.footer-redes{
	width: 100%;
	background: #000;
	border-top: 3px solid #fff;
}

.main-copy-redes{
	width: 98%;
	max-width: 1000px;
	padding: 15px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-copy{
	width: 70%;
}
.footer-redes{
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-redes a{
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: #000;
	background: white;
}