* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #ffffff;
}

/* HEADER STYLES */

header {
	position: fixed;
	display: flex;
	background-color: teal;
	justify-content: space-around;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #ffffff;
	/* border-bottom: grey solid 1px; */
	box-shadow: 0px 2px #cccccc;
	top: 0%;
	z-index: 1;
}

.left_header {
	display: flex;
	/* background-color: blue; */
	align-items: center;
	flex: 3;
	justify-content: space-around;
	padding-left: 5%;
	padding-right: 30%;
}

.right_header {
	display: flex;
	/* background-color: red; */
	align-items: center;
	flex: 1;
	justify-content: flex-end;
	justify-content: space-around;
	padding-right: 5%;
}

header div a {
	color: #333;
	transition: ease-out 0.3s;
}

header div a:hover {
	color: #6c7ae0;
}

.logo {
}

.search_bar {
	flex-basis: 18%;
	position: relative;
}

.search_bar form {
	display: flex;
}

.login_register {
	align-items: center;
}

.login_register ul {
	display: flex;
}

.regalos_opciones {
	/* background: red; */
	flex-basis: 18%;
}

.search_bar form input {
	height: 25px;
}

.search_bar form input::placeholder {
	color: rgb(129, 129, 129);
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	margin-left: 5px;
}

.ingresa {
	/* 	background: chocolate; */
}

.registrate {
	/* background: cornflowerblue; */
}

.carrito {
	/* background-color: pink; */
}

.logo img {
	width: 60px;
}

/* ******STYLES HOMEPAGE STYLES HOMEPAGE STYLES HOMEPAGE STYLES HOMEPAGE***** */

main {
	position: relative;
	margin-top: 100px;
	margin-left: 5%;
	margin-right: 5%;
}

.categorias {
	height: 400px;
	/* border: black 2px solid; */
	display: flex;
	flex-direction: column;
}

.sectionHeader {
	display: flex;
	width: 94%;
	height: 50px;
	justify-content: center;
	/* border: #333 solid 1px; */
	align-self: center;
	align-items: center;
	margin-bottom: 10px;
}

.sectionTitle {
	/* border: #333 2px solid */
	font-size: 22px;
	font-weight: 600;
	flex: 1;
}

.sectionVerMas {
	/* border: #333 2px solid; */
	flex: 1;
	text-align: right;
	font-size: 15px;
	font-weight: 600;
}

.sectionVerMas a {
	/* 	color: #333;
	transition: ease-out 0.3s; */
	color: #6c7ae0;
}

.sectionVerMas a:hover {
	color: #6c7ae0;
}

.tilesSlider {
	display: flex;
	justify-content: space-between;

	/* 	background-color: #6c7ae0; */
	height: 100%;
	align-items: stretch;
}

.tilesSliderArrow {
	align-self: center;
}

.categoryTile {
	/* border: #333 2px solid; */
	flex-basis: 14%;
	background-size: cover;
	background-position-x: center;
	position: relative;
}

.categoryTileTitle {
	font-size: 28px;
	font-family: Poppins;
	left: 5%;
	bottom: 5%;
	position: absolute;
	background-color: ;
}

.catGaming {
	background-image: url('/images/categoriesTiles/switch.jpg');
	color: white;
}

.catMate {
	background-image: url('/images/categoriesTiles/mate.jpg');
	color: white;
}

.catBeer {
	background-image: url('/images/categoriesTiles/beer1.jpg');

	color: white;
}

.catMusic {
	background-image: url('/images/categoriesTiles/Music1.jpg');
	color: white;
}

.catBajon {
	background-image: url('/images/categoriesTiles/bajon1.jpg');
	color: white;
}

.catSports {
	background-image: url('/images/categoriesTiles/sports1.jpg');
	color: white;
}

.elegidos {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

/* LOS MAS ELEGIDOS */
#homeElegidos {
	margin-top: 50px;
}

.homeElegidos {
	height: 200px;
	/* border: black 2px solid; */
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.elegidosSlider {
	display: flex;
	justify-content: space-between;

	/* 	background-color: #6c7ae0; */
	height: 100%;
	align-items: stretch;
}

.elegidoTile {
	/* 	border: #333 2px solid; */
	flex-basis: 14%;

	background-size: cover;
	background-position-x: center;
	position: relative;
}

.elegidoTileImage {
	background-size: cover;
	/* background-position-x: center; */
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.elegidoTileTitle {
	color: #ffffff;
	font-size: 22px;
}

.elegidoInfoCard {
	box-shadow: 2px 2px #cccccc;
	/* 	border: #333 1px solid; */
}

.elegidoTileDescription {
	font-size: 12px;
	line-height: 1.35;
	color: #464646;
}

.elegidoTilePrice {
	font-size: 14px;
}

.elegidoTileXbox {
	background-image: url('/images/categoriesTiles/xbox.jpeg');
}

.elegidoTileVino {
	background-image: url('/images/categoriesTiles/cajavino2.jpg');
}

.elegidoTileBeer {
	background-image: url('/images/categoriesTiles/beer1.webp');
}

.bottomTilesSection {
	/* border: #333 solid 1px; */
	margin-bottom: 50px;
	display: flex;
	width: 100%;
	/* justify-content: space-between; */
	align-items: center;
	height: 100px;
	margin-left: 15%;
}

.bottomTile {
	border: #333 solid 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	flex-basis: 300px;
	height: 65px;
}

#ayuda {
	margin-left: 20px;
}

/* ESTILO REGISTER*/

.register_cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: space-between
	}
	
.register_titulo{
	font-family: 'Poppins', sans-serif;
	width: 60%;
	height: 45px;
	padding-top: 100px;
	padding-left: 100px;
	font-size: 35px;
    font-weight: 700;
	line-height: 48px;
	color:#E8623F;
	}

.register_form {
	width: 50%;
	padding: 25px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 5px;
	font-family: 'Poppins', sans-serif;
	padding-left: 100px;
  }

  label{
	display: inline-block;
	width: 80px;
  }

  .register_ya_tenes_cuenta{
	font-family: 'Poppins', sans-serif;
	font-size: medium;
	box-sizing: border-box;
	padding-left: 10px;
  }

  #register_inicia_seccion{
	  color: #f04636;
  }


#registro_button{
		padding: 0 16px;
		border-radius: 2px;
		background-color: cornflowerblue;
		color: #fff;
		height: 36px;
		line-height: 2.25rem;
		font-size: 0.875rem;
		font-weight: 500;
		letter-spacing: 0.06em;
		}

/* ESTILO LOGIN*/

  .login_cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: space-between
	}


  .login_titulo{
	font-family: 'Poppins', sans-serif;
	width: 60%;
	height: 45px;
	margin-top: 45px;
	padding-top: 100px;
	padding-left: 100px;
	font-size: 35px;
    font-weight: 700;
	line-height: 48px;
	color:#E8623F;
	}

 	.login_form {
		width: 50%;
		padding: 25px;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 5px;
		font-family: 'Poppins', sans-serif;
		padding-left: 100px;
	  }

	  .olvidar_password{
		font-family: 'Poppins', sans-serif;
		color:#E8623F;
		display: inline-block;
		padding-left: 85px;
		 }

	#login_button{
		padding: 0 16px;
		border-radius: 2px;
		background-color: cornflowerblue;
	
		color: #fff;
		height: 36px;
		line-height: 2.25rem;
		font-size: 0.875rem;
		font-weight: 500;
		letter-spacing: 0.06em;
		}
	  
	  
/* ESTILO FOOTER*/

.info-container{
	width: 100%;
	background: #f2f2f2;;
}

footer{
	width: 100%;
	font-family: 'Poppins', sans-serif;
}
.footer-container{
	width: 100%;
	background: #272727;
	color: #fff;
}

.footer-main{
	width: 98%;
	max-width: 1000px;
	margin:auto; 
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	}

.footer-redes{
	width: 100%;
	background: #000;
	border-top: 3px solid #fff;
}

.main-copy-redes{
	width: 98%;
	max-width: 1000px;
	padding: 15px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-copy{
	width: 70%;
}
.footer-redes{
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-redes a{
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: #000;
	background: white;
}