* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

header {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	background-color: teal;
	align-items: center;
	justify-content: space-around;
}

header nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-start;
}

header nav ul li {
	margin: 15px;
}

header ul a {
	color: black;
	text-decoration: none;
	font-size: 15px;
}

.ingresa-registrate {
	display: flex;
}

.ingresa-registrate ul {
	display: flex;
	justify-content: space-around;
}

.ingresa-registrate ul li {
	margin-left: 50px;
}
.logo {
	width: 75px;
}

p {
	margin: 10px;
}
