<%- include('../partials/head') %>

	<%- include('../partials/header') %>

	<body>
		<main>
			<div>
				<div>
					<span>
						<a class="icono_go_back" href="#"
							><i class="fas fa-long-arrow-alt-left fa-lg"></i
						></a>
					</span>
				</div>
				<section class="createEditFormSection">
					<h1 class="formTitle">Carga de Producto</h1>

					<form action="/products/create" method="POST" class="createEditForm">
						<div class="formRegisterPadding">
							<label for="“name”">Nombre:</label>
							<input
								type="text"
								name="name"
								id="name"
								placeholder="Box Ferrero Rocher"
								required
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="description">Precio:</label>
							<input
								type="text"
								rows="4"
								cols="50"
								name="price"
								id="precio"
								placeholder="1500"
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="discount">Descuento%:</label>
							<input
								type="number"
								name="discount"
								id="discount"
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="image">Imagen:</label>
							<input type="file" name="image" id="image" />
						</div>

						<div class="formRegisterPadding">
							<label for="image">Categoría:</label>

							<select name="category" id="category" class="regAndLogInputs">
								<option value="gaming">Gaming</option>
								<option value="mate">Mate</option>
								<option value="cerveza">Cerveza</option>
								<option value="musica">Musica</option>
								<option value="gourmet">Gourmet</option>
							</select>
						</div>

						<div class="formRegisterPadding">
							<label for="stock">Stock:</label>
							<input
								type="number"
								name="stock"
								id="stock"
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="masvendido">Más vendido</label>
							<input
								type="checkbox"
								name="bestSeller"
								id="masvendido"
								class="regAndLogInputs"
							/>
						</div>

						<div class="formRegisterPadding">
							<label for="description">Descripción:</label>
							<textarea
								rows="4"
								cols="50"
								name="description"
								id="description"
								class="regAndLogInputs"
								placeholder="Este box incluye..."
							></textarea>
						</div>

						<button class="formButton" type="“submit”">Guardar</button>
					</form>
				</section>
			</div>
		</main>

		<%- include('../partials/footer') %>
	</body>
</html>
