<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css/headerStyles.css" />
		<link rel="stylesheet" href="./css/styles.css" />
		<link rel="stylesheet" href="css/indexStyles.css" />
		<link rel="stylesheet" href="css/footerStyles.css" />
		<link rel="stylesheet" href="css/productsListStyles.css" />

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
			rel="stylesheet"
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lista de Productos</title>
	</head>
	
		<!-- 	D E S K T O P   -->
		<%- include('../partials/header') %>
		<body>
		<section id="productsFilterSection" class="productsFilterSection">
			<div id="productsFilter" class="productsFilter">
				<div class="filterTitle">Filtrar:</div>
				<div class="filterNav" id="filterNav">
					<a href="#" class="filterTile">Categorias</a>
					<a href="#" class="filterTile">Precio</a>
					<a href="#" class="filterTile">En Oferta</a>
				</div>
			</div>
		</section>

		<section id="productsList" class="productsList">
			<div class="prodListResultsContainer">
				<!-- ELEGIDO 2  PRUEBA-->
				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>

				<a href="#" class="elegidoTile">
					<div class="elegidoTileImage">
						<img
							src="/images/categoriesTiles/beer1.webp"
							alt=""
							class="prodImage"
						/>
						<div class="elegidoTileTitle">Prueba</div>
					</div>
					<div class="elegidoInfoCard">
						<div class="elegidoTileDescription">
							Consola de ultigma generacion + Fifa 21
						</div>
						<div class="elegidoTilePrice">$ 5.000</div>
					</div>
				</a>
				<!-- PRUEBA 2 -->
			</div>
		</section>
	</body>
</html>
