<footer> 
<div class="main-content"> 
    <div class="footer_nosotros"> 
        <h2 class="footer_nosotros_titulo"> Sobre Nosotros</h2>
        <div class="footer_nosotros_content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, facilis.</p>
        </div>           
    </div>
    <div class="footer_social">
        <h2>¡Seguinos!</h2>
        <a href="#"><span class="fab fa-facebook-f"> Facebook</span></a>
        <a href="#"><span class="fab fa-twitter">  Twitter</span></a>
        <a href="#"><span class="fab fa-instagram">  Instagram</span></a>
    </div>
    
    <div class="footer_direccion">
        <h2>Dirección</h2>
    <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Av. Los Incas 3518</span>
          </div>
    
         <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+011-11404040</span>
          </div>
         <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">info@simplegift.com</span>
        </div>
    </div>
    </div>
</div>
 
