<!DOCTYPE html>
<html lang="en">

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="./css/styles.css" /> -->
		<link rel="stylesheet" href="css/headerStyles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet">

<div class="main-content"> 
    <div class="footer_nosotros"> 
        <h2 class="footer_nosotros_titulo"> Sobre Nosotros</h2>
        <div class="footer_nosotros_content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, facilis.</p>
        </div>           
    </div>
    <div class="footer_social">
        <h2>¡Seguinos!</h2>
        <a href="#"><span class="fab fa-facebook-f"> Facebook</span></a>
        <a href="#"><span class="fab fa-twitter">  Twitter</span></a>
        <a href="#"><span class="fab fa-instagram">  Instagram</span></a>
    </div>
    
    <div class="footer_direccion">
        <h2>Dirección</h2>
    <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Av. Los Incas 3518</span>
          </div>
    
         <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+011-11404040</span>
          </div>
         <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">info@simplegift.com</span>
        </div>
    </div>
    </div>
</div>
    
</div>