<footer> 
    <div class="main-content">
      <div class="left box">
        <h3 id="AboutUs">Conocenos</h3>
        <div class="content" id="AboutUs">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid incidunt error placeat voluptatibus, vero recusandae?</p>
            <div class="social">
            <a href="https://facebook.com/SimpleGift"><span class="fab fa-facebook-f"></span></a>
            <a href="https://twitter.com/SimpleGift"><span class="fab fa-twitter"></span></a>
            <a href="https://instagram.com/SimpleGift"><span class="fab fa-instagram"></span></a>
            </div>
        </div>
      </div>

<div class="center box">
        <h3>Encontranos</h3>
    <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Av de los Incas 3518</span>
          </div>
    <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+054-11443891</span>
    </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">TuRegalo@SimpleGift.com</span>
          </div>
    </div>
</div>

<div class="right box">
        <h3>Escribinos</h3>
  <div class="content">
          <form action="#">
            <div class="email">
              <div class="text">Email</div>
                <input type="email" required>
            </div>
          <div class="msg">
              <div class="text">Mensaje</div>
            <textarea id=".msgForm" rows="2" cols="25" required></textarea> 
            <br />
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        <div class="bottom"></div>
      </div>
    </div>
  </div>
</div>
</footer>