
           <head>
               <meta charset="UTF-8" />
               <meta name="viewport" content="width=device-width, initial-scale=1.0" />
               <link rel="stylesheet" href="../public/css/headerStyles.css" />   
               <link rel="stylesheet" href="../public/css/styles.css" />
               <link rel="stylesheet" href="../public/css/indexStyles.css" />
               <link rel="stylesheet" href="../public/css/footerStyles.css"/>
               <link rel="stylesheet" href="../public/css/loginRegisterStyles.css"/>

               <link
                   rel="stylesheet"
                   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
               />
               <link
                   href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
                   rel="stylesheet"
               />
       
               <link
                   href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
                   rel="stylesheet"
               />
       
               <title>Home</title>
           </head>