<%- include('./partials/head') %>
		<%- include('./partials/header') %>

		<main>
			<!--******  C A T E G O R I A S  *******-->
			<section class="categorias" id="homeCategorias">
				<div class="sectionHeader">
					<div class="sectionTitle">Categorías.</div>
					<div class="sectionVerMas"><a href="/products">Ver más</a></div>
				</div>

				<div class="tilesSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<a href="#" class="categoryTile catGaming">
						<div class="categoryTileTitle">Gaming</div>
					</a>

					<a href="#" class="categoryTile catMate">
						<div class="categoryTileTitle">Mate</div>
					</a>

					<a href="#" class="categoryTile catBeer">
						<div class="categoryTileTitle">Birra</div>
					</a>

					<a href="#" class="categoryTile catMusic">
						<div class="categoryTileTitle">Musica</div>
					</a>

					<a href="#" class="categoryTile catBajon">
						<div class="categoryTileTitle">Bajon</div>
					</a>

					<a href="#" class="categoryTile catSports">
						<div class="categoryTileTitle">Deportes</div>
					</a>

					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>

			<!-- ********************ELEGIDOS********************** -->
			<section class="homeElegidos" id="homeElegidos">
				<div class="sectionHeader">
					<div class="sectionTitle">Los más elegidos.</div>
					<div class="sectionVerMas">
						<a href="/products">Ver todos los boxes</a>
					</div>
				</div>

				<div class="elegidosSlider">
					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-left"></i></a>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileVino">
							<div class="elegidoTileTitle">Vino Malbec</div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Box de vino malbec + 2 copas finas de vidrio
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileBeer">
							<div class="elegidoTileTitle">Patagonia</div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Box de degustacion de cerveza Patagonia
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>

						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>

						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>
					<!-- ELEGIDO 2 -->
					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>
						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>
					<!-- ELEGIDO 3 -->
					<div class="elegidoTile">
						<div class="elegidoTileImage elegidoTileXbox">
							<div class="elegidoTileTitle">Xbox One</div>
						</div>

						<div class="elegidoInfoCard">
							<div class="elegidoTileDescription">
								Consola de ultigma generacion + Fifa 21
							</div>
							<div class="elegidoTilePrice">$ 5.000</div>
						</div>
					</div>

					<div class="tilesSliderArrow">
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</section>

			<section class="bottomTilesSection" id="bottomTilesSection">
				<a href="#" class="bottomTile" id="mediosPago">
					<div>
						<i class="far fa-credit-card"></i>
					</div>
					<div>Ver medios de pago</div>
					<div>
						<i class="fas fa-chevron-right"></i>
					</div>
				</a>

				<a href="#" class="bottomTile" id="ayuda">
					<div><i class="fas fa-question-circle"></i></div>
					<div>Necesitás ayuda? Escribinos</div>
					<div>
						<i class="fas fa-chevron-right"></i>
					</div>
				</a>

				<!-- 				<div class="bottomTile" id="ayuda">
					<div>Necesitás ayuda? Escribinos</div>
					<div>
						<a href="#"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div> -->
			</section>
		</main>

		<footer><%- include('./partials/footer') %></footer>
	</body>
</html>
