<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/headerStyles.css" />
		<link rel="stylesheet" href="/css/footerStyles.css" />
		<link rel="stylesheet" href="/css/loginRegisterStyles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet"
		/>
		<link href="/fontawesome/css/all.css" rel="stylesheet" />
		<title>Login</title>
	</head>

    <%- include('./partials/header') %>

    <!-- *******LOGIN MAIN***-->

    <main class="mainform"> 
    <div class="login_container"> 
        <div>
            <span>
                <a class="icono_go_back" href="#"><i class="fas fa-long-arrow-alt-left fa-lg"></i></a>
            </span>
        </div>

        <seccion class="formSeccion">  
        <h1 class="formTitle">¡Iniciá sesión acá!</h1>
        <article class="formsArticle"> 

        <form action=“validar.php” method=“POST”>
        <div class="loginFormMail">
          <label for=“email”>Email:      </label>
            <input 
             type=“email” 
             name=“email” id=“email” 
             placeholder="ejemplo@correo.com" 
             required
             class='regAndLogInputs'>   
        </div>

        <div class="formLoginPadding">
        <label for="password">Password:</label>
        <input 
            type="password" 
            name="password" 
            id="password" 
            placeholder="contraseña" 
            pattern=".{6,}" 
            required
            class='regAndLogInputs'>
        </div>
         <button class="formButton" type=“submit”>  Enviar  </button>
        </form>
        </article> 
        
    
    <a class="forgotPassword" href="#" id="resetPassword">¿Olvidaste tu contraseña?   </a>
    
    
    </seccion>
    </div>
    <div> 
    <img width="70%" class="fotoLoginRegister" src="/images/register_amigos.jpg" alt="Foto_Pagina_Registro">     
</div>
    </main>

    
 
<%- include('./partials/footer') %>

 
</body>
 