<%- include('./partials/head') %>
<%- include('./partials/header') %>
<script src="/javascripts/history.js"></script>


	<body>


		<div class="tuCarritoBanner">
			<div><a href="#" id="back_button"><i class="fas fa-long-arrow-alt-left"></i></a></div>
			<div class="sectionTitle" id="tuCarritoHeader">Tu Carrito</div>
		</div>

		<main>
			<section id="productTiles">
				<div class="prodCard">
					<div class="prodCardHeader">
						<div>Box Cerveza Patagonia</div>
						<div>
							<a href="#"><i class="far fa-trash-alt"></i></a>
						</div>
					</div>
					<div class="prodCardInfo" style="width: 100%">
						<div class="prodCardImageContainer">
							<img
								src="images/categoriesTiles/beer1.webp"
								alt=""
								class="prodCardImage"
							/>
						</div>
						<div class="prodCardPrice">$1.240</div>
						<div class="prodCardQty">
							<a href="#" class="plusMinusButtons"
								><i class="far fa-minus-square plusMinusButtons"></i
							></a>

							<div class="prodCardQtyValue">x1</div>

							<a href="#" class="plusMinusButtons"
								><i class="far fa-plus-square"></i
							></a>
						</div>
					</div>
				</div>

				<div class="prodCard">
					<div class="prodCardHeader">
						<div>Box Malbec y Copas</div>
						<div>
							<a href="#"><i class="far fa-trash-alt"></i></a>
						</div>
					</div>
					<div class="prodCardInfo" style="width: 100%">
						<div class="prodCardImageContainer">
							<img
								src="images/categoriesTiles/cajavino1.webp"
								alt=""
								class="prodCardImage"
							/>
						</div>
						<div class="prodCardPrice">$500</div>
						<div class="prodCardQty">
							<a href="#" class="plusMinusButtons"
								><i class="far fa-minus-square plusMinusButtons"></i
							></a>

							<div class="prodCardQtyValue">x1</div>

							<a href="#" class="plusMinusButtons"
								><i class="far fa-plus-square"></i
							></a>
						</div>
					</div>
				</div>
			</section>
			<!-- **************R E S U M E N   C O M P R A******************** -->
			<section id="resumenCompra">
				<div class="resumenCompraBox">
					<div class="resumenCompraBoxTitle">Resumen de compra</div>
					<div class="resumenCompraListaProductos">
						<div class="resumenCompraProduct">
							<div class="resumenCompraProductName">Box Patagonia X 1</div>
							<div class="resumenCompraProductPrice">$1.240</div>
						</div>

						<div class="resumenCompraProduct">
							<div class="resumenCompraProductName">Box vino X 1</div>
							<div class="resumenCompraProductPrice">$500</div>
						</div>

						<div class="resumenCompraTotal">
							<div class="resumenCompraTotalLabel">Total</div>
							<div class="resumenCompraTotalValue">$1.740</div>
						</div>

						<a href="#" class="resumenCompraContinuar">
							<div>Continuar</div>
						</a>

						<a href="#" class="resumenCompraSeguir"> Seguir comprando </a>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
