<%- include('./partials/head') %>
<%- include('./partials/header') %>
<script src="/javascripts/history.js"></script>

    <!-- *******REGISTER MAIN***-->

    <body>
    <main class="mainform"> 
    <div class="registerContainer"> 
        <div>
            <span>
                <a class="icono_go_back" href="#" id="back_button"><i class="fas fa-long-arrow-alt-left fa-lg"></i></a>
            </span>
        </div> 
    <seccion class="formSeccion">  
        <h1 class="formTitle">¡Registrate!</h1>
        <article class="formsArticle"> 
        <form action="/users/register" method="POST" enctype="multipart/form-data">
     <div class="formRegisterPadding"> 
        <label for="nombre">Nombre:</label>
        <input 
            type="text" 
            name="name" 
            id="nombre" 
            placeholder="Leandro" 
            required
            class='regAndLogInputs'>
     </div>
     <div class="formRegisterPadding">
        <label for="apellido">Apellido:</label>
        <input 
            type="text" 
            name="lastname" 
            id="apellido" 
            placeholder="Perez"
            required
            class='regAndLogInputs'>
     </div>
    <div class="formRegisterPadding">
        <label for="email">Email:</label>
        <input 
            type="email" 
            name="email" 
            id="email" 
            placeholder="ejemplo@correo.com" 
            required
            class='regAndLogInputs'>   
    </div>
    <div class="formRegisterPadding">
        <label for="telefono">Telefono:</label>
        <input 
            type="tel" 
            name="phone" 
            placeholder="11-4444-4444" 
            required
            class='regAndLogInputs'>
    </div>
    <div class="formRegisterPadding">
        <label for="password">Password:</label>
        <input 
            type="password" 
            name="password" 
            id="password" 
            placeholder="contraseña" 
            required
            class='regAndLogInputs'>
    </div>
    <div class="formRegisterPadding">
        <label for="image">Avatar:</label>
        <input type="file" name="avatar" id="image" />
    </div>
    <button class="formButton" type="submit">Enviar</button>
    </form>

    
    <h3 class="registerYaTenesCuenta">¿Ya tenés una cuenta de Simple Gift?  <a href="/views/login.html" id="registerStartSection">  Iniciá Sección</a></h3>
    
    </form>
    </article>
    </seccion>
    </div>
    <div class="fotoRegisterContainer"> 
        <img width="50%" class="foto_login_amigos" src="/images/login_amigos.jpg" alt="amigos_regalo">    
    </div>  
</main>
  
        <%- include('./partials/footer') %>

</body>
</html>

    
  