<%- include('../partials/head') %> <%- include('../partials/header') %>
<script src="/javascripts/history.js"></script>
<!-- *******LOGIN MAIN***-->
<body>
	<main class="mainform">
		<div class="login_container">
			<div>
				<span>
					<a class="icono_go_back" href="#" id="back_button">
						<i class="fas fa-long-arrow-alt-left fa-lg"></i>
					</a>
				</span>
			</div>

			<seccion class="formSeccion">
				<h1 class="formTitle">¡Iniciá sesión acá!</h1>
				<article class="formsArticle">
					<form action="login" method="POST">
						<div class="loginFormMail">
							<label for="“email”">Email: </label>
							<input
								type="email"
								name="email"
								id="email"
								placeholder="ejemplo@correo.com"
								class="regAndLogInputs"
							/>
						</div>

						<div class="formLoginPadding">
							<label for="password">Password:</label>
							<input
								type="password"
								name="password"
								id="password"
								placeholder="contraseña"
								class="regAndLogInputs"
							/>
						</div>

						<div class="formLoginPadding">
							<label for="rememberMe">Recuerdame: </label>
							<input
								type="checkbox"
								id="rememberMe"
								name="rememberMe"
								style="margin-left: 30px"
							/>
						</div>
						<% if(typeof errors!='undefined'){ for (error of errors){ %>
						<li style="color: red"><%= error.msg %></li>
						<% } %> <% } %>

						<button class="formButton" type="“submit”">Enviar</button>
					</form>
				</article>

				<a class="forgotPassword" href="#" id="resetPassword"
					>¿Olvidaste tu contraseña?
				</a>
			</seccion>
		</div>
		<div>
			<img
				width="70%"
				class="fotoLoginRegister"
				src="/images/register_amigos.jpg"
				alt="Foto_Pagina_Registro"
			/>
		</div>
	</main>

	<%- include('../partials/footer') %>
</body>
